layout {

    focus-ring {
        active-color   "#ef9b27"
        inactive-color "#080f17"
        urgent-color   "#d95757"
    }

    border {
        active-color   "#ef9b27"
        inactive-color "#080f17"
        urgent-color   "#d95757"
    }


    tab-indicator {
        active-color   "#ef9b27"
        inactive-color "#5e3906"
        urgent-color   "#d95757"
    }

    insert-hint {
        color "#ef9b2780"
    }
}

recent-windows {
    highlight {
        active-color "#ef9b27"
        urgent-color "#d95757"
    }
}
